body{
    margin :0 auto;
    padding:0;
    background-color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height:100vh;
    width:100%;
}

.centre-box{
    background-color:lightcoral;
    width:400px;
    height:400px;
    padding:30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

h1{
    color: black;
    margin-bottom: 20px;
}

input{
    width:80%;
    height:40px;
    padding:8px;
    border:1px solid black;
    border-radius:10px;
    font-size: 20px;
    text-align: center;
}

button{
    background-color: black;
    color: azure;
    border: 1px solid black;
    padding:10px 10px;
    border-radius:5px;
    font-size:15px;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.5s;
}

button:hover{
    background-color: bisque;
    color:black;
    font-weight: bold;
}

#result{
    margin-top:50px;
    font-size:30px;
    color: black;
    font-weight: bold;
}