

.header{
    max-width: 1024px;
    height:200px;
   /* border:2px solid black;*/
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.header ul{
    display:flex;
   /* background-color: antiquewhite;*/
    list-style:none;
}

.header li{
    margin : 0 20px;
}

.full-width{
    max-width: 100%;
    height: 500px;
    /*border:2px solid black;*/
    background-color: bisque;
    display: flex;
    justify-content: center;
}

.left{
    width: 500px;
    height: 400px;
    align-items: center;
    margin-top: 120px;
    /*border: 2px solid black;*/
}

.right{
    width: 500px;
    height:500px;
   /* border: 2px solid black;*/

}

.right img{
    width:400px;
    height:500px;
    /*margin-top: 25px;*/
}

.featured{
    max-width: 100%;
    height:150px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.center{
    max-width: 100%;
    height:500px;
   /* border:2px solid black;*/
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: bisque;
}

.center p{
    width:960px;
    
}

.headingimage{
    max-width: 100%;
    height: 500px;
    /*border:2px solid black;*/
    background-color: white;
    display: flex;
    justify-content: center;
}

.left1{
    width: 500px;
    height: 400px;
}

.left1 img{
    width:300px;
    height:500px;
}

.right1{
    margin-top: 100px;
    width: 500px;
    height: 400px;
}

.container{
    max-width: 100%;
    background-color:bisque;

}

.ready-inner{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1 p{
    font-size:30px;

}

.row2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-block:30px 70px;
    color:black;

}

.row2 h3{
    margin-bottom: 10px;
    font-weight: bold;
}

.row3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 70px;
    color:black;
    
}

.row3 h3{
    margin-bottom: 10px;
    font-weight: bold;
}

.my-blog{
    max-width: 100%;
    height: 410px;
    /*border:2px solid black;*/
    background-color: bisq;
    display: flex;
    justify-content: center;
}

.myleft{
    width: 500px;
    height: 400px;
    align-items: center;
    margin-top: 120px;
    /*border: 2px solid black;*/
}

.myright{
    width: 400px;
    height:500px;
   
   /* border: 2px solid black;*/

}

.director{
    max-width: 100%;
    height: 400px;
    /*border:2px solid black;*/
    background-color:bisque;
    display: flex;
    justify-content: center;
}

.dir1{
    width: 500px;
    height: 400px;
}

.dir1 img{
    margin-top: 40px;;
    width:300px;
    height:300px;
}

.dir2{
    margin-top: 100px;
    width: 500px;
    height: 400px;

}


.images{
    max-width: 100%;
    height: 400px;
    gap: 20px;
    /*border:2px solid black;*/
    background-color: white;
    display: flex;
    justify-content: center;
}

.images img{
    margin-top: 70px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    
}

.social-links{
    max-width: 100%;
    /*height: 50px;*/
    /*border:2px solid black;*/
    background-color:white ;
    display: flex;
    justify-content: center;
}

.social-links i{
    text-decoration: none;
    color: black;
    font-size: 50px;
    margin-bottom:25px;
    justify-content: flex-start;
}

.terms a{
    color:black;
    text-decoration: underline;
    font-size: 20px;
    justify-content: center;
    max-width:100%;
    display: flex;
}

@media(max-width:768px){
    .header ul{
        flex-direction: column;
        align-items:center;
        padding:20px 0;
    }

    .header{
        height:100%;
    }

    .full-width{
        flex-direction: column;
        width:100%;
        height: 100%;
        align-items:center;
        padding:20px 0;
    }

    .left{
        width: 100%;
    }

   

    .featured{
        flex-direction: column;
        height: 100%;
    }
    
    .center{
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;

    }

    .center h1{
        width: 100%;
    }

    .center p{
        width:100%;
    }

    .headingimage{
        flex-direction: column;
        width:100%;
        height: 100%;
        align-items:center;
        padding:20px 0;

    }

    .left1{
        width:100%;
    }

    .right1{
        width:100%;
    }

    .container{
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;

    }

    .my-blog{
        flex-direction: column;
        width:100%;
        height:100%;
        align-items:center;
        padding:20px 0;

    }
    

    .myleft{
        width:100%;
        
    }

    .myright{
        width:100%;
        
        
    }

    .director{
        flex-direction: column;
        width:100%;
        height: 100%;
        align-items:center;
        padding:20px 0;

    }

    .dir1{
        width: 100%;
    }

    .dir2{
        width:100%;
    }

    .director{
        flex-direction: column;
        width:100%;
        height: 100%;
        align-items:center;
        padding:20px 0;

    }

    .dir1{
        width: 100%;
    }

    .dir2{
        width:100%;
    }

    .images{
        flex-direction: column;
        height: 100%;
    }
    .social-links{
        flex-direction: column;
        width:100%;
        height: 100%;
        align-items:center;
        padding:20px 0;


    }

    





    
}
@media(max-width:452px){
    .right{
        width: 100%;
        align-items : center;

        
    }
}

@media(max-width:400px){
    .row2{
        flex-direction: column;
    }
    .item1 h3 {
        width: 100%;

    }

    .item1 p{
        width:100%;
    }

    
    
    .item2 h3 {
        width: 100%;

    }

    .item2 p{
        width:100%;
        
    }
} 
   

@media(max-width:399px){
    .row3{
        flex-direction: column;
    }

    .item3 h3 {
        width: 100%;

    }
    .item3 p{
        width:100%;
    }

    
    
    .item4 h3 {
        width: 100%;

    }

    .item4s p{
        width:100%;
        
    }

    .social-links i{
        font-size: small;
        flex-direction: column;
    }
} 
