*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#06090f;
  color:white;
}

/* HEADER */
header{
  text-align:center;
  padding:20px 10px;
  background:#0d1320;
  box-shadow:0 0 30px rgba(0,0,0,.6);
}

h1{
  margin-bottom:12px;
}

/* SECTION TITLES */
.section-title{
  text-align:center;
  margin-top:14px;
}

/* SEARCH BAR */
.search-box{
  display:flex;
  justify-content:center;
  width:100%;
  max-width:520px;
  margin:auto;
}

.search-box input{
  width:100%;
  height:45px;
  padding:10px;
  border:none;
  outline:none;
  border-radius:10px 0 0 10px;
}

.search-box button{
  height:45px;
  min-width:140px;
  border:none;
  background:#22c55e;
  color:black;
  font-weight:bold;
  cursor:pointer;
  border-radius:0 10px 10px 0;
}

.search-box button:hover{
  background:#4ade80;
}

/* SUGGESTION DROPDOWN */
.suggest-box{
  background:#0d1320;
  max-width:520px;
  margin:5px auto 0;
  border-radius:8px;
  overflow:hidden;
  box-shadow:0 0 25px rgba(0,0,0,.6);
}

.suggest-box div{
  padding:8px 10px;
  cursor:pointer;
}

.suggest-box div:hover{
  background:#111827;
}

.hidden{
  display:none !important;
}

/* MOVIE GRID */
.movie-container{
  padding:18px;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(160px, 1fr));
  gap:15px;
}
.movie-container{
  justify-content: center;
}


.movie-card{
  background:#0d1320;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 5px 30px rgba(0,0,0,.7);
  cursor:pointer;
  transition:transform .2s;
}

.movie-card{
  max-width: 260px;
}

.movie-card:hover{
  transform:scale(1.04);
}

.movie-card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.movie-info{
  padding:10px;
}

/* OVERLAY */
.details-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.88);
  backdrop-filter:blur(10px);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:999;
}

/* DETAILS CARD */
.details-card{
  width:95%;
  max-width:900px;
  background:#0d1320;
  border-radius:18px;
  padding:18px;
  box-shadow:0 0 40px rgba(0,0,0,.8);
}

.details-body{
  display:flex;
  gap:18px;
}

.details-body img{
  width:260px;
  border-radius:14px;
}

.details-text{
  flex:1;
  max-height:420px;
  overflow-y:auto;
}

/* BUTTONS */
.back-btn,
.fav-btn,
.trailer-btn{
  margin-top:10px;
  padding:9px 14px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.back-btn{ background:#22c55e; }
.fav-btn{ background:#f43f5e; }
.trailer-btn{ background:#3b82f6; }

.back-btn:hover{ background:#4ade80; }
.fav-btn:hover{ background:#fb7185; }
.trailer-btn:hover{ background:#60a5fa; }

/* MOBILE */
@media(max-width:750px){
  .details-body{
    flex-direction:column;
  }

  .details-body img{
    width:100%;
  }
}
